.rates-list-container {
  .diff {
    font-size: 20px;
    font-weight: bold;
  }

  .diff.up {
    color: green;
  }

  .diff.down {
    color: red;
  }

  .diff.eq {
    color: gray;
  }

  .mat-table {
    width: 100%;

    td {
      padding: 10px;
    }

    .mat-no-data-row {
      text-align: center;
    }
  }

  button, .mat-form-field + .mat-form-field {
    margin-left: 20px;
  }
}